--find-links https://download.pytorch.org/whl/torch_stable.html
numpy<2.0.0  # Add this line first to ensure correct NumPy version
torch==2.1.0+cpu
torchaudio==2.1.0+cpu
transformers==4.34.0
fastapi==0.104.1
python-multipart
soundfile
pydantic
uvicorn
tenacity>=8.2.2